:root {
    --bg--sfondoTop: #009688;
    --bg--sfondoBottom: #dbdbd2;
    --bg--sideTop: #8edafc;
    --bg--headerBar: #eaeaea;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background:linear-gradient(
        to bottom, 
        var(--bg--sfondoTop)15%,
        var(--bg--sfondoBottom )15% 
    )
}
/* HEADER */
.header  {
    height: 60px;
    background-color:var(--bg--headerBar);
    border-right: 1px solid rgb(106, 106, 106);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.profile-img img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.text-smal{
    font-size: 14px;
    color: rgb(126, 124, 124);
}
.name-msg {
    flex-grow: 1;
}
.text-smaller{
    font-size: 12px;
    color: rgb(126, 124, 124);
}
.header{
    background-color: rgb(228, 228, 228);
    border-right: 1px solid rgb(106, 106, 106);
    height: 65px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.header .profile-img{
    height: 50px;
    width: 50px;
}
.header .user-name{
    flex-grow: 1;
    padding: 0 10px;
}

.header .icons{
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: rgb(100, 100, 100);
    padding: 10px;
}
/* END -------HEADER----- */

/* SIDEBAR */
.bar_top {
    height: calc(100vh - 70px);
    display: flex;
    padding: 1rem 0;
}

.bar_top>.sidebar {
    width: 65%;
    overflow: hidden;
    background-color: var();
    justify-content: space-between;
    
}

.bar_top .sidebar_top {
    height: 60px;
    background-color: var(--bg--sideTop);
}


/* SIDER BOTTOM */
.bar_top .sidebar_bottom {
    height: calc(100% - 60px);
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
}
.userList .user{
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    gap: 10px;
    border-bottom: 0.5px solid rgb(242, 242, 242);
    cursor: pointer;
}
 .user .profile-img {
   height: 50px;
   width: 50px;
}
.user:hover {
    background-color: lightgrey;
}
/* ----END SIDER BOTTOM---- */


 .content {
    width: calc(100% - 70px);
    background-image: url(../img/mine.jpg);
    position: relative; 
    display: none;
} 
.chats {
    overflow-y: auto;
    height: calc(100% - 135px);
}

.active  {
    display: block;
}

/* Sidebar TOP */
 .notifyAlert{
    background-color: rgb(147, 201, 232);
     height: 60px; 
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 17px;
}
.notifyIcon{
    background-color: rgb(255, 255, 255);
    color: rgb(147, 201, 232);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
} 
/* SEARCH BAR  */
.searchBar{
    background-color: #fafafa;
    padding: 10px;
}
.searchBar #searchUser{
    width: 100%;
    font-size: 13px;
    padding: 3px;
    border: 0.3px solid rgb(214, 214, 214);
    border-radius: 6px;
}
/* ---------END SIDEBAR-------- */

.chats .messageChats{
    padding: 20px;
    margin: 3px;
    display: flex;
    flex-direction: column;
}

.chats .message-body{
    display: inline-block;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    width: 20rem;
    max-width: 500px;
    overflow-wrap: break-word;
}

.chats .message-body.sent{
    background-color: rgb(197, 252, 197);
    margin-left: auto;
}



.chats .message-body .message-data{
    text-align: right;
 }
 

/* FOOTER */
.footer{
    background-color: #f3eeea;
    padding: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer input{
    height: 40px;
    font-size: 14px;
    flex-grow: 1;
    padding: 13px 5px;
    border: .3px solid rgb(224, 224, 224);
    border-radius: 8px;
}
